# Application environment
APP_ENV=local

# MySQL configuration
MYSQL_USER=your_mysql_user
MYSQL_PASSWORD=your_mysql_password
MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_HOST=ngafalinfy-db
MYSQL_DATABASE=ngafalinfy

# CORS settings
CORS_ALLOW_ORIGINS=http://localhost:3000

# Timezone
TZ=Asia/Tokyo
